import ${basePackage}.ISolution;
import ${importPath};

public class Solution {
    public static void main(String[] args) throws Exception {
        ISolution solution = new ${className}();
        solution.solve(System.in);
    }


    #foreach( $method in $entryMethods )
    ${method} {
        ${className} solution = new ${className}();
        ${method.getMethodCall("solution")}
    }
    #end
}