package ${basePackage}.base;

import java.io.InputStream;

/**
* @author ${author}#if($StringUtils.isNotEmpty($githubUsername))<${githubUsername}>#end ${NEWLINE}*
**/
public interface ISolution throws Exception {
    void solve(InputStream in);
}