package ${basePackage}.base;

import java.io.InputStream;

/**
* @author ${author}#if($StringUtils.isNotEmpty($githubUsername))<${githubUsername}>#end${NEWLINE}*
**/
public interface ISolution {
    void solve(InputStream in) throws Exception;
}