package ${basePackage}.${platform}.problem${serial_no};
import  ${basePackage}.base.ISolution;
import java.io.InputStream;

/**
*
* @author ${author}#if($StringUtils.isNotEmpty($githubUsername))<${githubUsername}>#end ${NEWLINE}*
* #if($StringUtils.isNotEmpty($link))@see <a href="${link}">${link}</a>#end ${NEWLINE}*
**/
public class ${name} implements ISolution {
    @Override
    public void solve(InputStream in) throws IOException {
        //TODO: Implement Solution
    }
}