package ${basePackage}.platform.${platform}.problem${serial_no};

import ${basePackage}.base.BaseTest;
import org.junit.jupiter.api.Test;

/**
* Test for ${name}.java ${NEWLINE}*
* @author ${author}#if($StringUtils.isNotEmpty($githubUsername))(${githubUsername})#end${NEWLINE}*
* #if($StringUtils.isNotEmpty($link))@see <a href="${link}">${link}</a>#end ${NEWLINE}*
**/
public class ${name}Test {

    public ${name}Test() {
        super("/${platform}/problem${serial_no}/", new ${name}());
    }

    #foreach($i in [1..$size])
    ${NEWLINE}
    @Test
    public void case${i}Test() throws Exception {
        runTest("input${i}.txt", "output${i}.txt");
    }
    #end

}